:root {
    --color-primary: none;
    --color-secondary: rgb(27, 29, 31);
    --color-white: rgb(255, 255, 255);
    --color-dark: #141618;
    --color-light: rgba(48, 49, 51, .5);
    --color-background: none;

    --card-border-radius: none;
    --border-radius-1: none;
    --border-radius-2: none;

    --card-padding: none;
    --padding-1: 1.5rem;

    --transition: ease-in-out 0.2s;

    --box-shadow: 0 2rem 3rem var(var(--color-light))
}

*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Yekan";
    direction: rtl;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

::selection {
    background-color: none;
    color: none;
}

.container {
    margin: auto;
}

@media screen and (min-width: 500px) {
    .container {
        max-width: 95%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 90%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 85%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 85%;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 85%;
    }
}